NEXT_PUBLIC_API_BASE_URL=https://frontend-task-chatapp.onrender.com/api
NEXT_PUBLIC_WEBSOCKET_URL=https://frontend-task-chatapp.onrender.com
NEXTAUTH_SECRET=KJSAIOTGJWEJFKLSJAGIEJWK8934KLEFJKLKJSAKLJ2903481902DF
NEXTAUTH_URL=http://localhost:3000